/* #region common */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #debug */
.debug *{
    border: 1px dashed;
}
.debug header{
    ;
}

/* #endregion debug */

/* #utilities */
:root{
    --boolando-header: #ff6900;
    --boolando-white: #ffffff;
    --boolando-sostenibile: #008000;
    --boolando-discount: #ff0000;
    --boolando-black: #1a1a1a
}
.container{
    
    width:80%;
    margin:auto;

}
.row{
    display:flex;
    flex-wrap:wrap;
    /*margin:0 -1rem; */
}
.col-4{
    width: calc((100%/12)*4);
    padding:0.5rem;
}
.d-flex{
    display: flex;
}
.justify-content-between{

}
body{
    font-family: ;
    min-width: ;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: var(--boolando-white);
    
}
/* #endregion utilities */

/* #header */


#app_header{
    padding: 1rem 0;
    background-color: var(--boolando-header);

    
    .rowheader{
        width: 90%;
        padding-left:10%;
        

    }
       
   
     .main_menu{

        
                  
            ul{
                list-style: none;
                display: flex;
                justify-content:space-around ;
                align-items: center;
                
                }
            }
            .icon {
                text-align: end;
                justify-content: center;
                color: var(--boolando-white);
             }
             .logo{
                display: flex;
                justify-content: center;
                align-content: center;
                
                
                .logo_img{
                    width: 55%;
                   
                }
     }
     
    
        
}
    

/* #endregion header */
/* #region_main */
#app_main{
   
        
    .card{
        display: flex;
        width:;
        flex-wrap: wrap;
    }
    
        .back{
            position:;
           

        }
        front

        .card:hover {

        }


      
        
       /* .favorite{
            bottom: 1.5rem;
            background-color: var(--boolando-white);
            padding:10px;
            width: 2rem;
            right:0;
        }
        .discount{
            width: 10%;
            padding:3px;
            background-color: #ff0000;
            position: absolute;
            ;
        }*/
    
    }
    



/* #endregion_main */