/* #region common */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #debug */
.debug *{
    /border: 1px dashed;
}
.debug header{
    ;
}

/* #endregion debug */

/* #utilities */
:root{
    --boolando-header: #ff6900;
    --boolando-white: #ffffff;
    --boolando-sostenibile: #008000;
    --boolando-discount: #ff0000;
    --boolando-black: #1a1a1a
}
.container{
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:auto;

}
.d-flex{
    display: flex;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    
}
/* #endregion utilities */

/* #header */
#app_header{
    padding: 3rem 0;
    background-color: var(--boolando-header);
            
    .main_menu .icon{
        width:30% ;
     }
     .main_menu{
        justify-content: space-around;
                  
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                
                a{
                    color: var(--boolando-white)
                }
                
                
                
                }
            }
     }
     .icon {
        text-align: end;
        justify-content: center;
        color: var(--boolando-white);
     }
     .logo{
        display: flex;
        justify-content: center;
        width: 40%;
        text-align:center;
        .logo_img{
            width: 25%;
           
        }
    
        
    }
    


/* #endregion header */